/* Установите стиль для элемента body */

html{
  height: 110%;
  width: 110%;
  overflow-x: hidden; 
  overflow-y: hidden;
}
body {
  background-color: black;
  margin: 0 0 0 0;
    background-position: top;
    backdrop-filter: blur(15px);
    height: 110%;
    width: 110%;
    transition: background-image 2s ease-in-out;
    background-size: 110%;
    background-repeat: no-repeat;
    font-size: 20px ;
    color: white;
    display: flex;
   
}

img{
  width: 300px;;
  opacity: 1;
}

.texForPicture{
  width: 300px;
  font-size:14px ;
}

.picture1 {
    width: 0px;
    height: auto;
    position: relative;
    transition: transform .3s ease-out;
    transform: translate(var(--x), var(--y));
  }


  .picture2 {
    width: 0px;
    height: auto;
    position: relative;
    transition: transform .3s ease-out;
    transform: translate(var(--x), var(--y));
  }
  .picture3 {
    width: 0px;
    height: auto;
    position: relative;
    transition: transform .3s ease-out;
    transform: translate(var(--x), var(--y));
  }
  .picture4 {
    width: 0px;
    height: auto;
    position: relative;
    transition: transform .3s ease-out;
    transform: translate(var(--x), var(--y));
  }
  .picture5 {
    width: 0px;
    height: auto;
    position: relative;
    transition: transform .3s ease-out;
    transform: translate(var(--x), var(--y));
  }
  .picture6 {
    width: 0px;
    height: auto;
    position: relative;
    transition: transform .3s ease-out;
    transform: translate(var(--x), var(--y));
  }
  .picture7 {
    width: 0px;
    height: auto;
    position: relative;
    transition: transform .3s ease-out;
    transform: translate(var(--x), var(--y));
  }
  .picture8 {
    width: 0px;
    height: auto;
    position: relative;
    transition: transform .3s ease-out;
    transform: translate(var(--x), var(--y));
  }
  .picture9 {
    width: 0px;
    height: auto;
    position: relative;
    transition: transform .3s ease-out;
    transform: translate(var(--x), var(--y));
  }
  .picture10 {
    width: 0px;
    height: auto;
    position: relative;
    transition: transform .3s ease-out;
    transform: translate(var(--x), var(--y));
  }
  .picture11 {
    width: 0px;
    height: auto;
    position: relative;
    transition: transform .3s ease-out;
    transform: translate(var(--x), var(--y));
  }
