


@font-face {
    font-family: "ALIENATI";
    src: url('ALIENATI.woff');
}



@font-face {
    font-family: "AlienFur";
    src: url('AlienFur.woff');
}



@font-face {
    font-family: "Alieo";
    src: url('Alieo.woff');
}



@font-face {
    font-family: "Angelized";
    src: url('Angelized.woff');
}



@font-face {
    font-family: "Cairn-RegularOutlined";
    src: url('Cairn-RegularOutlined.woff');
}


@font-face {
    font-family: "Cairn-Rounded";
    src: url('Cairn-Rounded.woff');
}

@font-face {
    font-family: "Cairn-RoundedOutlined";
    src: url('Cairn-RoundedOutlined.woff');
}


@font-face {
    font-family: "Cairn";
    src: url('Cairn.woff');
}




@font-face {
    font-family: "CFTechnoMania-Slanted";
    src: url('CFTechnoMania-Slanted.woff');
}





@font-face {
    font-family: "Cyberverse Condensed Bold";
    src: url('Cyberverse Condensed Bold.woff');
}


@font-face {
    font-family: "Cyberverse Condensed Italic";
    src: url('Cyberverse Condensed Italic.woff');
}


@font-face {
    font-family: "Cyberverse Condensed";
    src: url('Cyberverse Condensed.woff');
}


@font-face {
    font-family: "Cyberverse Italic";
    src: url('Cyberverse Italic.woff');
}

@font-face {
    font-family: "FKRomanStandardTrial-Black";
    src: url('FKRomanStandardTrial-Black.woff');
}

@font-face {
    font-family: "FKRomanStandardTrial-BlackOblique";
    src: url('FKRomanStandardTrial-BlackOblique.woff');
}

@font-face {
    font-family: "FKScreamerLegacyTrial-Backslanted";
    src: url('FKScreamerLegacyTrial-Backslanted.woff');
}

@font-face {
    font-family: "FKScreamerLegacyTrial-SemiBackslanted";
    src: url('FKScreamerLegacyTrial-SemiBackslanted.woff');
}

@font-face {
    font-family: "FKScreamerLegacyTrial-SemiSlanted";
    src: url('FKScreamerLegacyTrial-SemiSlanted.woff');
}

@font-face {
    font-family: "FKScreamerLegacyTrial-Slanted";
    src: url('FKScreamerLegacyTrial-Slanted.woff');
}

@font-face {
    font-family: "galaxy_1";
    src: url('galaxy_1.woff');
}

@font-face {
    font-family: "galaxy_1ci";
    src: url('galaxy_1ci.woff');
}

@font-face {
    font-family: "Last Day On Earth";
    src: url('Last Day On Earth.woff');
}

@font-face {
    font-family: "Lightyear Shadow";
    src: url('Lightyear Shadow.woff');
}

@font-face {
    font-family: "Mons Olympia Bold Italic";
    src: url('Mons Olympia Bold Italic.woff');
}

@font-face {
    font-family: "Mons Olympia Bold";
    src: url('Mons Olympia Bold.woff');
}

@font-face {
    font-family: "Mons Olympia Condensed Bold Italic";
    src: url('Mons Olympia Condensed Bold Italic.woff');
}

@font-face {
    font-family: "Mons Olympia Condensed";
    src: url('Mons Olympia Condensed.woff');
}

@font-face {
    font-family: "multivac-ghost";
    src: url('multivac-ghost.woff');
}

@font-face {
    font-family: "multivac-interference";
    src: url('multivac-interference.woff');
}

@font-face {
    font-family: "RoadTest Italic";
    src: url('RoadTest Italic.woff');
}

@font-face {
    font-family: "RoadTest";
    src: url('RoadTest.woff');
}

@font-face {
    font-family: "Robotic Cyborg Back Italic";
    src: url('Robotic Cyborg Back Italic.woff');
}

@font-face {
    font-family: "Robotic Cyborg Italic";
    src: url('Robotic Cyborg Italic.woff');
}

@font-face {
    font-family: "SF Outer Limits DistUpright";
    src: url('SF Outer Limits DistUpright.woff');
}

@font-face {
    font-family: "SF Outer Limits Extended";
    src: url('SF Outer Limits Extended.woff');
}

@font-face {
    font-family: "SF Outer Limits ExtUpright";
    src: url('SF Outer Limits ExtUpright.woff');
}

@font-face {
    font-family: "SF Outer Limits Upright";
    src: url('SF Outer Limits Upright.woff');
}

@font-face {
    font-family: "SF Outer Limits";
    src: url('SF Outer Limits.woff');
}

@font-face {
    font-family: "Spac3 halftone";
    src: url('Spac3 halftone.woff');
}

@font-face {
    font-family: "spider-bold-italic";
    src: url('spider-bold-italic.woff');
}

@font-face {
    font-family: "spider-hollow-inverse";
    src: url('spider-hollow-inverse.woff');
}

@font-face {
    font-family: "spider-hollow";
    src: url('spider-hollow.woff');
}


@font-face {
    font-family: "spider-inverse";
    src: url('spider-inverse.woff');
}


@font-face {
    font-family: "spider";
    src: url('spider.woff');
}


@font-face {
    font-family: "THE SOLSTICE";
    src: url('THE SOLSTICE.woff');
}


@font-face {
    font-family: "TIEWING";
    src: url('TIEWING.woff');
}


@font-face {
    font-family: "zero hour";
    src: url('zero hour.woff');
}



@font-face {
    font-family: "actionis";
    src: url('actionis.woff');
}

 
@font-face {
    font-family: "AquilineTwo";
    src: url('AquilineTwo.woff');
}

 
 
@font-face {
    font-family: "AUSRINE";
    src: url('AUSRINE.woff');
}

 
 
@font-face {
    font-family: "Berzulis-BARSTUKAI-Regular";
    src: url('Berzulis-BARSTUKAI-Regular.woff');
}

 
 
@font-face {
    font-family: "Berzulis-GAILA-Regular";
    src: url('Berzulis-GAILA-Regular.woff');
}

 
 
@font-face {
    font-family: "Berzulis-MAGYLA-Regular";
    src: url('Berzulis-MAGYLA-Regular.woff');
}

 
 
@font-face {
    font-family: "Berzulis-PIZIUS-regular";
    src: url('Berzulis-PIZIUS-regular.woff');
}

 
 
@font-face {
    font-family: "darkcrystalscript";
    src: url('darkcrystalscript.woff');
}

 
 
@font-face {
    font-family: "dragonwi";
    src: url('dragonwi.woff');
}

 
 
@font-face {
    font-family: "europa";
    src: url('europa.woff');
}

 
 
@font-face {
    font-family: "extech";
    src: url('extech.woff');
}

 
 
@font-face {
    font-family: "extechs";
    src: url('extechs.woff');
}
 


@font-face {
    font-family: "Futu";
    src: url('Futu.woff');
}


@font-face {
    font-family: "GENOTYPE";
    src: url('GENOTYPE.woff');
}


@font-face {
    font-family: "hydro";
    src: url('hydro.woff');
}


@font-face {
    font-family: "J-Flames";
    src: url('J-Flames.woff');
}


@font-face {
    font-family: "KUPOLE-Regular";
    src: url('KUPOLE-Regular.woff');
}


@font-face {
    font-family: "NotoEmoji-Regular";
    src: url('NotoEmoji-Regular.woff');
}


@font-face {
    font-family: "Omicron";
    src: url('Omicron.woff');
}


@font-face {
    font-family: "Powerpuff";
    src: url('Powerpuff.woff');
}


@font-face {
    font-family: "realhorrorshow";
    src: url('realhorrorshow.woff');
}

 

@font-face {
    font-family: "Sacred Rights";
    src: url('Sacred Rights.woff');
}

 

@font-face {
    font-family: "STARBAT_";
    src: url('STARBAT_.woff');
}

 

@font-face {
    font-family: "stiletto";
    src: url('stiletto.woff');
}

 

@font-face {
    font-family: "Super_Air_Ben";
    src: url('Super_Air_Ben.woff');
}

 
@font-face {
    font-family: "ZALTYS-Regular";
    src: url('ZALTYS-Regular.woff');
}

 
@font-face {
    font-family: "Xtraordinary";
    src: url('Xtraordinary.woff');
}

 
@font-face {
    font-family: "newglitchdemoregular";
    src: url('newglitchdemoregular.woff');
}

  
@font-face {
    font-family: "FKRasterRomanCompactTrial-Sharp";
    src: url('FKRasterRomanCompactTrial-Sharp.woff');
}
 
@font-face {
    font-family: "webfont";
    src: url('webfont.woff');
}
