<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

{% load static %}
<html style="width: 100%; cursor: url('images/cursor.png'), auto;">
 <head>
 <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content=
    "width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" href="{% static 'css/Eurydice Admirabilis.css'%}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  <link rel="shortcut icon" href="{% static 'images/icon.png'%} " type="image/x-icon">
  <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Eurydice Admirabilis</title>
 </head>
<style>


</style>
    <body style="
    margin: 30px 0 0 0;
">
	
	<div class="container">
 
		
		
	  
	
<div class="container_slider_css" >
  <img class='photo_slider_css'  src="{% static 'images/coral/anime_coral_1.png'%}" alt="" />
  <img class='photo_slider_css'  src="{% static 'images/coral/anime_coral_2.png'%}" alt="" />
  <img class='photo_slider_css'  src="{% static 'images/coral/coral1.png'%}" alt="" />
  <img class='photo_slider_css'  src="{% static 'images/coral/coral2.png'%}" alt="" />
</div>
<div class="text"> 
    This project was born at the intersection of my interest in the coral bleaching 
    phenomenon and my research into the representation of sci-fi tendencies in manga and 
    anime. The hybrid organism I created is at once human, a woman who resembles Rilke's 
    Eurydice *, and a coral reef almost colorless due to the warming waters in its area. The 
    coexistence of species, natural to the coral reef, here extends to the human being, the 
    fragile human body becomes the host for a static solid and yet vulnerable life. The 
    interweaving and sharing of each other's properties results in an entity of a complex and 
    dual nature that defies either categorization within the biological world or gender 
    definition. A multispecies entity, sensitive to the world both within and a part of which it 
    exists. In Haruko Ichikawa’s manga Land of the Lustrous the creatures, similar to mine, are 
    called Admirabilis, and along with Jewels, they inhabit the earth after humans.</div>



</div>

	   
</body>
</html>